section.download
    .container
        .row
            .col-12.col-lg-6.download__item-left
                +section_title(section_title.download.sub,section_title.download.big,section_title.download.desc,section_title.download.highline)
                .download__btn
                    each val in download__btn
                        img(src= val.src, alt= val.alt)
                span or
                .download__link
                    h5= download_link.content
                    form(action="#", method="post", class= "d-flex ")
                        input(type="email", placeholder="Enter email")
                        button(type="submit" class=".btn btn-yellow")= download_link.button

            .col-12.col-lg-6.download__item-right
                img(src= download_img.src, alt= download_img.alt)