section.infor
    .container
        .row
            .col-12.col-lg-4.infor__item
                each val in infor_item_left
                    +infor__item-content(val.icon, val.title, val.desc)
            .col-12.col-lg-4.infor__item
                img(src= infor_img.src, alt= infor_img.alt)
            .col-12.col-lg-4.infor__item
                each val in infor_item_right
                    +infor__item-content(val.icon, val.title, val.desc)