section.infor
    .container
        .row
            .col-12.col-lg-4.infor__item
                each val in infor__item__left
                    +infor__item-content(val.icon, val.title, val.desc)
            .col-12.col-lg-4.infor__item
                img(src="./assets/images/burger1.png", alt="")
            .col-12.col-lg-4.infor__item
                each val in infor__item__right
                    +infor__item-content(val.icon, val.title, val.desc)