section.products
    .container
        .row
            each item, index in products_item
                if index == 1
                    .col-lg-4.col-12.my-lg-0.my-sm-5.my-4
                        +products_item(item.src, item.title, item.desc, item.alt)
                else
                    .col-lg-4.col-12
                        +products_item(item.src, item.title, item.desc, item.alt)