section.reasons
    .container
        .reasons__title
            +section_title(section_title.reason.sub_title,section_title.reason.big_title,section_title.reason.desc,section_title.reason.highline)
        .reasons__content.row
            each val in reasons__item
                +reasons__item(val.icon, val.title, val.desc)