section.story
    .container
        .row
            .col-lg-6.col-12
                .story__item-left
                    img(src= story_img.src, alt= story_img.alt)
                    
                    button(class="play__btn", type="button", data-toggle="modal",data-target="#story_video")
                        i.fa.fa-play
            .col-lg-6.col-12
                .story__item-right
                    +section_title(section_title.story.sub, section_title.story.big, section_title.story.desc,section_title.story.highline)
                    button.btn.btn-yellow= story_btn

    div(class="modal fade", id="story_video")
        div(class="modal-dialog modal-dialog-centered",role="document")
            .modal-content
                .modal-header
                    button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body
                    iframe(src="https://www.youtube.com/embed/dCVEY88Fn1k", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)