extend ../Base/_define.pug

block content
    // HEADER
    include ../Layouts/_header.pug
    // BANNER
    include ../Layouts/_banner.pug
    // STORY
    include ../Layouts/_story.pug
    // PRODUCTS
    include ../Layouts/_products.pug
    // INFOR
    include ../Layouts/_infor.pug
    // CONTACT
    include ../Layouts/_contact.pug
    // GALLERY
    include ../Layouts/_gallery.pug
    // REASONS
    include ../Layouts/_reasons.pug
    // DOWNLOAD
    include ../Layouts/_download.pug
    // FOOTER
    include ../Layouts/_footer.pug