-
    var menu__list = [
        {title:"Home", link:"#", status:"active"},
        {title:"About", link:"#", status:""},
        {title:"Menu", link:"#", status:""},
        {title:"Contact", link:"#", status:""}
    ]
//- PRODUCT
-
    var products__item = [
        {src:"./assets/images/burger.png", title:"Burgers", desc:"Vivamus a ligula quam. Ut blandit eu leo non. Duis sed dolor amet ipsum primis in faucibus orci dolor sit et amet."},
        {src:"./assets/images/snack.png", title:"Snacks", desc:"Vivamus a ligula quam. Ut blandit eu leo non. Duis sed dolor amet ipsum primis in faucibus orci dolor sit et amet."},
        {src:"./assets/images/beverage.png", title:"Beverages", desc:"Vivamus a ligula quam. Ut blandit eu leo non. Duis sed dolor amet ipsum primis in faucibus orci dolor sit et amet."}
    ]
//- INFOR
-
    var infor__item__left = [
        {icon: "fa fa-leaf", title: "Natural ingredients", desc: "Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio consec adipisicing elit."},
        {icon: "fa fa-shopping-basket", title: "Fresh vegetables & Meet", desc: "Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio consec adipisicing elit."},
        {icon: "fa fa-users", title: "World’s best Chef", desc: "Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio consec adipisicing elit."}
    ]
-
    var infor__item__right = [
        {icon: "fa fa-cogs", title: "Best quality products", desc: "Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio consec adipisicing elit."},
        {icon: "fa fa-motorcycle", title: "Fastest door delivery", desc: "Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio consec adipisicing elit."},
        {icon: "fa fa-thumbs-down", title: "Ground beef & Low fat", desc: "Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio consec adipisicing elit."}
    ]
//- GALLERY
-
    var gallery__item = [
        {src:"./assets/images/g1.jpg", alt:"gallery 1"},
        {src:"./assets/images/g2.jpg", alt:"gallery 2"},
        {src:"./assets/images/g3.jpg", alt:"gallery 3"},
        {src:"./assets/images/g4.jpg", alt:"gallery 4"},
        {src:"./assets/images/g5.jpg", alt:"gallery 5"},
        {src:"./assets/images/g6.jpg", alt:"gallery 6"},
        {src:"./assets/images/g7.jpg", alt:"gallery 7"},
        {src:"./assets/images/g8.jpg", alt:"gallery 8"}
    ]
//- REASONS
-
    var reasons__item = [
        {icon:"fa fa-utensils", title:"Tasty Burgers", desc:"Dolor et sed amet eget volutp elit libero. timpus sed elit nibh quis dui, nunc tortor sit amet."},
        {icon:"fa fa-cogs", title:"Quality Products", desc:"Dolor et sed amet eget volutp elit libero. timpus sed elit nibh quis dui, nunc tortor sit amet."},
        {icon:"fa fa-users", title:"TWorld's best Chef", desc:"Dolor et sed amet eget volutp elit libero. timpus sed elit nibh quis dui, nunc tortor sit amet."},
        {icon:"fa fa-motorcycle", title:"Tasty Burgers", desc:"Dolor et sed amet eget volutp elit libero. timpus sed elit nibh quis dui, nunc tortor sit amet."}
    ]
//- DOWNLOAD
-
    var download__btn = [
        {src:"./assets/images/appstore.png", alt:"appstore"},
        {src:"./assets/images/googleplay.png", alt:"googleplay"}
    ]

//- FOOTER
-
    var footer__media = [
        {link:"#", icon: "fab fa-facebook-f"},
        {link:"#", icon: "fab fa-twitter"},
        {link:"#", icon: "fab fa-google-plus-g"},
        {link:"#", icon: "fab fa-dribbble"},
    ]

-
    var footer__contact = [
        {title:"Address:", desc:" Burger Bun, 208 Trainer Avenue street, Corner Market, NY - 62617."},
        {title:"Phone:", desc:" +12 534894364"},
        {title:"Email:", desc:" info@example.com"}
    ]

-
    var footer__pay = [
        {src:"./assets/images/pay2.png", alt:""},
        {src:"./assets/images/pay5.png", alt:""},
        {src:"./assets/images/pay1.png", alt:""},
        {src:"./assets/images/pay4.png", alt:""}
    ]