section.banner.py-5
    .container.py-5
        .row
            .banner__content.col-lg-6.col-sm-12
                h3 Delight your Best.
                h2 Steak Burger
                p We are dedicated to the safety of our guests and employees and have updated our safety measures. Lorem ipsum dolor sit amet elit. Provident. fugit odit? Fugit ipsam. Sed ac ex. Nam mauris velit, ac cursus quis, leo.
                .banner__btn
                    button.btn.btn-yellow See Menu
                    button.btn.btn-outline-yellow Book a table
