section.contact
    .container
        .contact__content
            h3 The Right Ingredients for the Right Food. Eat Healthy, Delicious and Perfect Burgers From Our Hotel
            h3 Call us to order: 
                span +1 123 456 789
            .contact__btn
                button.btn.btn-yellow Contact Us
                button.btn.btn-outline-yellow Book a table