section.download
    .container
        .row
            .col-12.col-lg-6.download__item-left
                h5.title__small Easy way to use mobile app
                h3.title__big Download our mobile apps today
                p Suspendisse efficitur orci urna. In et augue ornare, tempor massa in, luctus sapien. Proin a diam et dui fermentum molestie vel id neque. Donec sed tempus enim, a congue risus. euismod massa a quam interdum.
                .download__btn
                    img(src="./images/appstore.png", alt="")
                    img(src="./images/googleplay.png", alt="")
                span or
                .download__link
                    h5 Enter your email to get download link
                    form(action="#", class= "d-flex ")
                        input(type="email", placeholder="Enter email")
                        button.btn.btn-yellow Get link

            .col-12.col-lg-6.download__item-right
                img(src="./images/mobile.jpg", alt="")