section.gallery
    .container
        .gallery__title
            h6 Food Gallery
            h3 Our Burger Gallery
        .gallery__content
            .row
                +gallery__item("./images/g1.jpg")
                +gallery__item("./images/g2.jpg")
                +gallery__item("./images/g3.jpg")
                +gallery__item("./images/g4.jpg")
                +gallery__item("./images/g5.jpg")
                +gallery__item("./images/g6.jpg")
                +gallery__item("./images/g7.jpg")
                +gallery__item("./images/g8.jpg")
                
