section.infor
    .container
        .row
            .col-12.col-lg-4.infor__item
                +infor__item-content("fa fa-leaf","Natural ingredients","Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio consec adipisicing elit.")
                +infor__item-content("fa fa-shopping-basket"," Fresh vegetables & Meet","Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio consec adipisicing elit.")
                +infor__item-content("fa fa-users","World’s best Chef","Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio consec adipisicing elit.")
            .col-12.col-lg-4.infor__item
                img(src="./images/burger1.png", alt="")
            .col-12.col-lg-4.infor__item
                +infor__item-content("fa fa-cogs","Best quality products","Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio consec adipisicing elit.")
                +infor__item-content("fa fa-motorcycle","Fastest door delivery","Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio consec adipisicing elit.")
                +infor__item-content("fa fa-thumbs-down","Ground beef & Low fat","Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio consec adipisicing elit.")