section.products
    .container
        .row
            .col-lg-4.col-12
                +products__item("./images/burger.png","Burgers","Vivamus a ligula quam. Ut blandit eu leo non. Duis sed dolor amet ipsum primis in faucibus orci dolor sit et amet.")
            .col-lg-4.col-12.my-lg-0.my-sm-5.my-4
                +products__item("./images/snack.png","Snacks","Vivamus a ligula quam. Ut blandit eu leo non. Duis sed dolor amet ipsum primis in faucibus orci dolor sit et amet.")
            .col-lg-4.col-12
                +products__item("./images/beverage.png","Beverages","Vivamus a ligula quam. Ut blandit eu leo non. Duis sed dolor amet ipsum primis in faucibus orci dolor sit et amet.")
            