section.reasons
    .container
        .reasons__title
            h6.title__small Why we are the best
            h3.title__big 4 Reasons to Choose us
        .reasons__content.row
            +reasons__item("fa fa-utensils","Tasty Burgers","Dolor et sed amet eget volutp elit libero. timpus sed elit nibh quis dui, nunc tortor sit amet.")
            +reasons__item("fa fa-cogs","Quality Products","Dolor et sed amet eget volutp elit libero. timpus sed elit nibh quis dui, nunc tortor sit amet.")
            +reasons__item("fa fa-users","World's best Chef","Dolor et sed amet eget volutp elit libero. timpus sed elit nibh quis dui, nunc tortor sit amet.")
            +reasons__item("fa fa-motorcycle","Fastest delivery","Dolor et sed amet eget volutp elit libero. timpus sed elit nibh quis dui, nunc tortor sit amet.")