extends ../Layouts/default-layout.pug

block content

    // BANNER
    include ../Partials/banner.pug
    // STORY
    include ../Partials/story.pug
    // PRODUCTS
    include ../Partials/products.pug
    // INFOR
    include ../Partials/infor.pug
    // CONTACT
    include ../Partials/contact.pug
    // GALLERY
    include ../Partials/gallery.pug
    // REASONS
    include ../Partials/reasons.pug
    // DOWNLOAD
    include ../Partials/download.pug
