.carousel {
    .carousel-control-next, .carousel-control-prev {
        top: 50%;
        transform: translateY(-50%);
        bottom: auto;
        display: inline-block;
        @include size(5rem);
        opacity: 1;
        background-color: white;
        border-radius: 50%;
        box-shadow: rgba(8, 7, 8, 0.3) 0px 0px 7px 2px;
        i {
            @include text($secondary-color, 40px, 5rem);
        }
    }
    .carousel-control-next {
        right: -2rem;
    }
    .carousel-control-prev {
        left: -2rem;
    }
}