.download {
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;
    &__item-left {
        p {
            font-size: 1.8rem;
            color: $font-color;
            left: .5px;
            line-height: 2.8rem;
            margin: 1.6rem 0;
        }
        .download__btn {
            img {
                width: 18rem;
                border-radius: $border-radius;
                padding-right: 1.5rem;
            }
        }
        span {
            font-size: 2rem;
            display: block;
            width: 4rem;
            height: 4rem;
            line-height: 3.6rem;
            background-color: $bg-lightgrey;
            border: 1px solid $border-color;
            font-weight: 700;
            border-radius: 50%;
            color: $heading-color;
            margin: 2rem 0;
            text-align: center;
        }
        .download__link {
            max-width: 45rem;
            h5 {
                font-size: 2.2rem;
                line-height: 3rem;
                font-weight: 700;
                margin-bottom: .8rem;
            }
            form {
                input {
                    height: 5rem;
                    font-size: 1.8rem;
                    line-height: 2.8rem;
                    padding: 1.2rem 1.5rem;
                    width: 100%;
                    border: 1px solid #ddd;
                    color: $font-color;
                    border-top-left-radius: $border-radius;
                    border-bottom-left-radius: $border-radius;
                    margin-right: -1px;
                    &:focus {
                        outline: none !important;
                    }
                }
                button {
                    width: 15rem;
                    display: block;
                    padding: 0;
                    height: 5rem;
                    border-radius: 0;
                    border-top-right-radius: $border-radius;
                    border-bottom-right-radius: $border-radius;
                    color: white;
                }
            }
        }
        
    }
    &__item-right {
        img {
            border-radius: $border-radius-full;
        }
    }
    @include responsive('extra-large') {
        padding-top: 7.2rem;
        padding-bottom: 7.2rem;
    }
    @include responsive('large') {
        padding-top: 4.8rem;
        padding-bottom: 4.8rem;
        &__item-right {
            margin-top: 4.8rem;
        }
    }
    @include responsive('medium') {
        padding-top: 4rem;
        padding-bottom: 4rem;
        &__item-right {
            margin-top: 3rem;
        }
    }
}