.download {
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;
    &__item-left {
        p {
            @include text($font-color,1.8rem,2.8rem);
            margin: 1.6rem 0;
        }
        .download__btn {
            img {
                width: 18rem;
                border-radius: $border-radius;
                padding-right: 1.5rem;
            }
        }
        span {
            display: block;
            @include size(4rem);
            @include text($heading-color, 2rem, 3.6rem, 700);
            background-color: $bg-lightgrey;
            border: 1px solid $border-color;
            border-radius: 50%;
            margin: 2rem 0;
            text-align: center;
        }
        .download__link {
            max-width: 45rem;
            h5 {
                @include text(inherit, 2.2rem, 3rem, 700);
                margin-bottom: .8rem;
            }
            form {
                input {
                    @include size(100%, 5rem);
                    @include text($font-color, 1.8rem, 2.8rem);
                    padding: 1.2rem 1.5rem;
                    border: 1px solid #ddd;
                    border-top-left-radius: $border-radius;
                    border-bottom-left-radius: $border-radius;
                    margin-right: -1px;
                    &:focus {
                        outline: none !important;
                    }
                }
                button {
                    display: block;
                    border: none;
                    @include size(15rem, 5rem);
                    padding: 0;
                    @include border-radius(0, $border-radius, 0, $border-radius);
                    color: white;
                }
            }
        }
    }
    &__item-right {
        img {
            border-radius: $border-radius-full;
        }
    }
    @include responsive('extra-large') {
        padding-top: 7.2rem;
        padding-bottom: 7.2rem;
    }
    @include responsive('large') {
        padding-top: 4.8rem;
        padding-bottom: 4.8rem;
        &__item-right {
            margin-top: 4.8rem;
        }
    }
    @include responsive('medium') {
        padding-top: 4rem;
        padding-bottom: 4rem;
        &__item-right {
            margin-top: 3rem;
        }
    }
}