.gallery {
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;
    text-align: center;
    &__title {
        margin-bottom: 4.8rem;
        h6 {
            @include text($font-color, 2rem, 3rem, 700);
            letter-spacing: 1px;
        }
        h3 {
            @include text($heading-color, 4rem, 4.6rem, 700);
        }
    }
    &__content {
        .row {
            margin: 0;
        }
        .col-12, .col-sm-6, .col-lg-3 {
            padding: 0;
            border: 8px solid transparent;
        }
        
    }
    &__item {
        position: relative;
        img {
            border-radius: $border-radius-full;
        }
        
        &:hover .gallery__overlay{
            opacity: 1;
            .gallery__overlay-content {
                transform: translateY(0);
            }
        }
    }
    &__overlay {
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: $border-radius-full;
        @include flex(row, center, center);
        transition: .3s ease-in;
        &-content{
            @include transform(translateY(-30%));
            transition: .3s ease-in;
            color: white;
            h4 {
                @include text(inherit, 2.5rem, false, 700);
            }
        }
    }
    @include responsive('extra-large') {
        padding-top: 7.2rem;
        padding-bottom: 7.2rem;
    }
    @include responsive('large') {
        padding-top: 4.8rem;
        padding-bottom: 4.8rem;
    }
    @include responsive('medium') {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}