.header {
    .navbar {
        .header__menu {
            li {
                align-self: center;
                padding: 0 1.2rem;
                a {
                    font-size: 2rem;
                    font-weight: 600;
                    color: $heading-color;
                    opacity: .95;
                    letter-spacing: .85px;
                }
            }
            .active {
                .nav-link {
                    color: $primary-color;
                }
            }
        }
    }
    .navbar-light {
        .navbar-toggler {
            background-color: $primary-color;
            padding: .6rem 1rem;
            i {
                color: white;
                font-size: 2rem;
            }
            &:focus {
                outline: none;
            }
        }
    }
}