.infor {
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;
    &__item {
        &-content {
            margin-bottom: 4.8rem;
            i {
                @include text($primary-color, 3rem);
            }
            h6 {
                @include text($heading-color, 3rem, 3rem, 700);
                margin-bottom: 1rem;
            }
            p {
                @include text($font-color, 2rem, 2.8rem);
                letter-spacing: .5px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    @include responsive('extra-large') {
        padding-top: 7.2rem;
        padding-bottom: 7.2rem;
    }
    @include responsive('large') {
        padding-top: 4.8rem;
        padding-bottom: 4.8rem;
    }
    @include responsive('medium') {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}