.reasons {
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;
    background-color: $bg-grey;
    text-align: center;
    &__item {
        padding-top: 7.2rem;
        i {
            @include text($primary-color, 4rem);
        }
        h4 {
            @include text($heading-color, 3rem, 3rem, 700);
            margin: 3.5rem 0 1.5rem;
        }
        p {
            @include text($font-color, 1.8rem, 2.8rem);
            letter-spacing: .5px;
        }
    }
    @include responsive('extra-large') {
        padding-top: 7.2rem;
        padding-bottom: 7.2rem;
    }
    @include responsive('large') {
        padding-top: 4.8rem;
        padding-bottom: 4.8rem;
        &__item {
            padding-top: 4.8rem;
        }
    }
    @include responsive('medium') {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}